body {
    margin: 0;
    background-color: #6C7A89;
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
 }

 ul { 
    margin: 0;
    padding: 0;
    list-style-type: none;
}

hr.thin-rule {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

button {
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 1.1em;
    padding: 5px 10px;
    margin: 15px;
    border-radius: 3px;  
}

.a-identifier-content {
    width: 300px;
    margin-left: 50px;
    float: left;
}

#logo img {
    width: 100px;
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: -10px;
}

.room-name {
    font-size: 2em;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: -10px;
}

.search {
    width: 275px;
    height: 30px;
    border: 0;
}

input .placeholder {
    font-size: 2em;
}

.a-identifier-content .user-list li {
    list-style-type: none;
}

.a-identifier-content .user-list img {
    margin-bottom: 10px;
    border: 1px solid #ABB7B7;
}

.a-identifier-content .user-list span {
    margin-left: 10px;
    vertical-align: 30px;
    font-weight: 700;
    color: #EEEEEE;
}

.a-identifier-content .identifier-text {
    color: #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
}

.b-chat-content {
    width: 800px; 
    margin-top: 20px;
    margin-left: 50px;
    float: left;
    background-color: #FFFFFF;
    overflow-y: auto;
    height: 600px;
}

.b-chat-content .content {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 70px;
}

.b-chat-content .content span {
    font-size: .7em;
    font-weight: 400;
    color: #666666;
}

.window-bottom {
    background-color: #95A5A6;
    width: 800px;
    float: left;
    margin-left: 50px;
}

.window-bottom img {
    padding: 10px;
    float: left;
}

.chat-field {
    width: 600px;
    height: 35px;
    background-color: #EEEEEE;
    border: 1px solid #95A5A6;
    float: left;
    margin-top: 15px;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}